/***Appointment popup***/
.popup_overlay, .popup_overlay2, .popup_overlay3 {
	background: rgba(0, 0, 0, 0.6);
	display: none;
	height: 100%;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.popup_overlay3 .appointment_popup {
    text-align: center;
}
.popup_overlay2 .appointment_popup {
	width: 400px;
	max-width: 100%;	
	text-align: center;
}
.mailing_list {
	padding: 0px !important;
	overflow: hidden;
}
.mailing_list h6 {
	font-size: 26px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 600;
	/*line-height: 40px;
	padding: 10px 0; */
	text-transform: capitalize;
	color: #5B5B5B;
}
.newsletter-form input, .newsletter-form select {
    float: none !important;
    max-width: 100%;
    width: 300px;
}
.appointment_popup {
	background: #ffffff none repeat scroll 0 0;
	height: auto;
	margin: 100px auto;
	max-width: 100%;
	padding:20px 30px;
	position: relative;
	width: 1200px;
	color: #4c4c4c;
	border-radius: 5px;
}
.appointment_popup h2 {
	font-size: 27px;
	color: #324983;
	margin: 0;
	font-weight: 700;
}
.schedule-appointment .form-control input, .schedule-appointment .form-control select,.schedule-appointment .form-control .multiOptions .fs-label-wrap {
    height: 45px;
    border: 1px solid #d9dde2;
    padding: 8px;
    width: 100%;
    max-width: 100%;
	border-radius: 4px;
}
.appointment_popup form {
	margin: 20px 0 10px;
	float: left;
	width: 100%;
}
.interested {
	font-family: 'Roboto Condensed', sans-serif;
}
.interested p {
	display: inline-block;
	width: auto !important;
	margin: 10px 20px 0 0;
}
.appointment_popup p {
	float: left;
	width: 100%;
}
.appointment_popup form p {
	margin-bottom: 10px;
}
.appointment_popup .close_btn {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 9;
	width: auto;
}
.appointment_popup form p.name_last input {
	width: 31%;
	margin-right: 2%
}
.appointment_popup form p.user_info input {
	margin-right: 2%;
}
.appointment_popup form p.user_info input, .appointment_popup form p.user_info select {
	/*width: 32%;*/

	width: 23%;
	margin-right: 2%;
}
.appointment_popup form p.user_info select#time {
	margin-right: 0px;
}
.appointment_popup form p.user_comments textarea {
	height:120px;
    border: 1px solid #d9dde2;
    padding: 8px;
    width: 100%;
    max-width: 100%;
    border-radius: 4px;
	resize: none;
}
.appointment_popup form p.actions {
	margin-top: 10px;
}
.interested .check {
	margin: 0 0 3px 10px;
}
.appointment_popup form p input[type='text'], .appointment_popup form p select, .appointment_popup form p textarea {
	float: left;
	border-radius: 2px;
	border: 1px solid #D6D6D6;
	font-family: 'Roboto Condensed', sans-serif;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	font-size: 15px;
	color: #8c8c8c;
	background: #FDFDFD;
}
.appointment_popup form p input[type='text']:focus, .appointment_popup form p select:focus, .appointment_popup form p textarea:focus {
	border-color: #38688F;
	color: #38688F;
}
.appointment_popup form p input[type='text'] {
	padding: 10px;
	height: 45px;
}
.appointment_popup form p select {
	padding: 11px 10px;
	height: 45px;
}
.appointment_popup form p textarea {
	height: 70px;
	padding: 10px;
}
.appointment_popup p input[type="button"] {
	background: #C3C3C3;
}
.appointment_popup p input[type="submit"] {
	background: #38688F;
}
.appointment_popup p input[type="button"], .appointment_popup p input[type="submit"] {
	border: none;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
	padding: 10px 20px;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 600;
	line-height: 23px;
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 4px;
}
.customize_section li a {
	display: block;
}
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}



#show_date.static, #show_time.static {
  display: inline-block;
  height: 90px;
  position: static;
  transform: none;
  width: 90px;
}

















/********************************************************************************************* 



  Grid lt 720px / Mobile (mediaqueries)



*********************************************************************************************/

	

@media only screen and (max-width: 719px) {
.mp-menu {
	display: block;
}
.blue_btn {
	width: 100%;
	padding: 10px 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.mobile_show {
	display: block;
}
.right_content {
	margin-top: 0px;
}
.main_menu {
	display: none;
}
.header_container {
	padding: 20px 0;
}
.logo {
	width: 50%;
	margin: 0px;
}
.hdr_right_top li {
	display: none;
}
.hdr_right_top li:last-child {
	display: block !important;
	margin: 0px;
}
.mobile_show {
	position: absolute;
	right: 5%;
	top: 15px;
}
.theme_btn {
	font-size: 13px;
	padding-right: 15px;
	text-indent: 45px;
}
h2.heading {
	font-size: 20px;
	line-height: 25px;
}
.customize_section li {
	width: 100%;
	clear: both;
}
.customize_section li:last-child {
	margin-top: 20px !important;
}
.customize_section ul {
	padding: 10px 0 20px;
}
.apptmnt {
	padding: 10px;
	min-height: 200px;
}
.apptmnt h3 {
	font-size: 20px;
	line-height: 25px;
}
.apptmnt input[type="button"] {
	font-size: 13px;
	padding-right: 5px;
}
.upcoming_cit p.like_btn {
	width: 100%;
}
.footer h6 {
	font-size: 18px;
	cursor: pointer;
}
.social_footer {
	float: left;
	clear: both;
}
.footer_menu ul, .footer .contact_details ul {
	display: none;
}
.footer_menu ul.active, .contact_details ul.active {
	display: block;
}
.inner_footer .footer_menu, .inner_footer .contact_details {
	width: 100%;
	margin: 0 0 10px;
}
.inner_footer .mailing_list, .inner_footer .customer_feed {
	width: 100%;
	margin: 0 0 10px;
}
.office_details {
	padding: 20px 10px;
	height: auto;
}
.contact_form form {
	width: 100%;
}
.shd_appmt .contact_form p input[type="button"] {
	width: 100%;
	margin-bottom: 10px;
}
.shd_appmt .contact_form p input[type="submit"] {
	width: 100%;
}
.right_content .mailing_list {
	display: none;
}
.alter_style li .exp_cont, .alter_style li .exp_img {
	width: 100%;
}
.alter_style li:first-child .exp_cont {
	padding-top: 20px;
}
.alter_style li .exp_cont {
	height: auto;
	padding: 20px 10px;
}
.alter_style li .exp_img {
	height: 300px;
	background-position: center center !important;
	background-size: cover !important;
}
.prod_images li {
	width: 46%;
	height: auto;
	margin: 1%;
}
#scrollbar1 .viewport {
	width: 94%;
}
.left_content {
	border: none;
	padding-right: 0px;
}
/*Mobile Menu*/

html, body, .wrapper, .scroller {
	height: 100%;
}
.scroller {
	overflow-y: scroll;
}
/*STYLE PAGE */



.prod_images li img {
	width: 100%;
}
.contact_form form {
	border: none;
	padding-right: 0px;
}
.shirt-grid-box .left-box {
	width: 100%;
	margin: 0 0 10px;
}
.shirt-grid-box .left-box h2 {
	font-size: 20px;
	padding: 0px;
	line-height: 30px;
}
.shirt-grid-box .left-box p {
	font-size: 16px;
	line-height: 25px;
}
.shirt-grid-box-img {
	width: 100%;
}
.nbs-flexisel-inner {
	height: 270px;
}
.tour_icons li:nth-child(2):after, .tour_icons li:nth-child(2):before {
	background: none;
}
.tour_icons li {
	width: 100%;
	display: block;
	padding: 15px 20px;
}
}

.reset {
	bottom: 0;
	height: 39px;
	left: 50%;
	margin-left: -90px;
	position: absolute;
	width: 180px;
	z-index: 99;
}
#captcha_code {
	border: 1px solid #aaaaaa;
	border-radius: 3px;
	padding: 8px 10px;
}
.actions {
    padding: 15px 0 0;
}
.actions button {
    background: #dddddd none repeat scroll 0 0;
    border: 1px solid #aaaaaa;
    border-radius: 20px;
    color: #333333;
    font-family: "Roboto Condensed",sans-serif;
    margin-right: 15px;
    padding: 8px 20px;
}

.close_btnpop {
   width: 40px !important;
   position: absolute;
   top: 7px;
   right: 0;
}
.close_btnpop img { 
	width: 15px;
}

.notify_overlay{
	background: rgba(0, 0, 0, 0.6);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	overflow-y: auto;
}
.notify_overlay .appointment_popup {
	width: 400px;
	max-width: 100%;	
	text-align: center;
}
 .select2-container--open {
    z-index: 9999;
}
.times-Schedule .select2 {
    width: 100% !important;
}
.times-Schedule .select2-container--default .select2-selection--single {
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 45px;
    border: 1px solid #d9dde2;
    padding: 8px;
    width: 100%;
    max-width: 100%;
    border-radius: 4px !important;
}
.times-Schedule .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 45px;
}
.select2-search--dropdown {
    display: none !important;
}
.select2-container--open .select2-dropdown {
    border: 1px solid #d9dde2;

}
.select2-container--open .select2-dropdown .select2-results__option--disabled {
    text-decoration: line-through;
}
.appointment_popup_page .times-Schedule .select2 .select2-selection--single {
    color: #2e3f51;
    border-color: #ebeff2;
    font-weight: 300;
    font-size: 18px;
    background-color: #ebeff2;
}

@media (max-width: 767px) { 
	.appointment_popup { 
		margin: 0px auto;
	}
	.appointment_popup p input[type="button"], .appointment_popup p input[type="submit"] {
		width: 100%;
		margin-bottom: 15px;
	}
	.input-group .form-control {
		padding: 0 0 10px;
		width: 100%;
	}
	.interested {
		display: inline-flex;
		flex-wrap: wrap;
	}
	.interested .check:not(:first-child) {
		margin: 2px 0px 15px 10px;
	}
	.appointment_popup {
		padding: 20px 10px;
	}
	.interested .check:first-child {
		margin: 0;
	}
	.form-table td {
		margin-bottom: 0;
		padding: 4px 5px 6px 5px;
	}

}
.ui-datepicker-current
{
	display: none !important;
}