<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /dev/mkennys/
RewriteRule ^tour-schedule$ ./index.php [L]

RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
</IfModule>
